@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http

@model ForgetPasswordReqNew

<!--begin::Form-->
<form class="form w-100" id="kt_password_reset_form" action="@Url.Content("Account/ForgetPassword")" method="POST" novalidate="novalidate">
    <!--begin::Heading-->
    <div class="text-center mb-10">
        <!--begin::Title-->
        <h1 class="text-dark fw-bolder mb-3">Forgot Password ?</h1>
        <!--end::Title-->
        <!--begin::Link-->
        <div class="fw-semibold fs-6">Enter your username to reset your password.</div>
        <!--end::Link-->
    </div>
    <!--begin::Heading-->
    <!--begin::Input group=-->
    <div class="fv-row mb-8">
        <!--begin::Email-->
        @*<input type="text" placeholder="Username" name="username" id="username" autocomplete="off" class="form-control bg-transparent" />*@
        <input type="text" placeholder="Username" autocomplete="off" class="form-control" asp-for="userName" />
        <!--end::Email-->
    </div>
    @if (Configuration.GetSection("MyConfiguration")["VAR_CAPTCHA_ACTIVATE"] != null && Configuration.GetSection("MyConfiguration")["VAR_CAPTCHA_ACTIVATE"].ToString() == "true")
    {
        <text>@Html.Hidden("RecaptchaToken", "")</text>
    }
    <!--begin::Actions-->
    <div class="d-flex flex-wrap justify-content-center pb-lg-0">
        <button type="submit" id="kt_password_reset_submit" class="btn btn-primary me-4">
            <!--begin::Indicator label-->
            <span class="indicator-label">Submit</span>
            <!--end::Indicator label-->
            <!--begin::Indicator progress-->
            <span class="indicator-progress">
                Please wait...
                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
            </span>
            <!--end::Indicator progress-->
        </button>
        <a href=@Url.Content("~/") class="btn btn-light">Cancel</a>
    </div>
    <!--end::Actions-->
</form>
<!--end::Form-->

@Html.Hidden("siteKey", (Configuration.GetSection("MyConfiguration")["reCAPTCHA_site_key"] != null ? Configuration.GetSection("MyConfiguration")["reCAPTCHA_site_key"].ToString() : ""))

@section Scripts {
<script type="text/javascript">
    var VAR_CAPTCHA_ACTIVATE = "@(Configuration.GetSection("MyConfiguration")["VAR_CAPTCHA_ACTIVATE"] !=null ? Configuration.GetSection("MyConfiguration")["VAR_CAPTCHA_ACTIVATE"].ToString().ToLower() : "false")";
</script>
    @if (Configuration.GetSection("MyConfiguration")["VAR_CAPTCHA_ACTIVATE"] != null && Configuration.GetSection("MyConfiguration")["VAR_CAPTCHA_ACTIVATE"].ToString().ToLower() == "true")
    {
        <script src="https://www.google.com/recaptcha/api.js?render=@(Configuration.GetSection("MyConfiguration")["reCAPTCHA_site_key"])"></script>
    }
}
